[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "==7.0.0"
mypy = "==1.9.0"
mpremote = "==1.22.0"
rshell = "==0.0.32"
tox = "==4.14.2"
mpy-cross = "==1.22.2"
pydoc-markdown = "*"
micropython-esp32-stubs = ">=1.22"

[dev-packages]

[requires]
# python_version = "3.11"


[scripts]

# Checks
linter = "flake8 src/uwifisetup"
typechecker = "python -m mypy src/uwifisetup  --check-untyped-defs"

# Tests
tests = "pytest tests"
test = "pytest -q tests/test_api.py"

# build
#pull_compiled_assets = "bash -c \"rshell -p /dev/ttyACM0 rm /pyboard/lib/uwifisetup/www/_uwifisetup/*.html\;\" rshell -p /dev/ttyACM0 cp -r /pyboard/lib/uwifisetup/www dist/www\""
compile = "bash -c tools/compile.sh"
clean = "bash -c tools/clean.sh"

# On Device deploy to /lib
deploy_deps = "mpremote mip install github:shaneapowell/upython-wifi-setup/package-deps.json"
deploy = "rshell -f tools/deploy_dist.rsh -p"
deploy_raw = "rshell -f tools/deploy_raw.rsh -p"

# Run
example = "mpremote run examples/example.py"
example_reset = "mpremote run examples/example_reset.py"
reset = "mpremote reset"


# Docs
generate_docs = "bash -c \"pydoc-markdown -p uwifisetup -I src --render-toc >docs/API.md\""
