[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "==7.0.0"
mypy = "==1.8.0"
mpremote = "==1.22.0"
rshell = "==0.0.32"
tox = "==4.14.2"

[dev-packages]

# This is just to inform pipenv how to run.
# You MUST also update the V_MAJOR and V_MINOR in versioncheck.py
[requires]
python_version = "3.11"


[scripts]
linter = "flake8 src/uwifisetup"
typechecker = "mypy src/uwifisetup stub  --check-untyped-defs"

tests = "pytest tests"
test = "pytest -q tests/test_api.py"

deploy_library = "rshell -p /dev/ttyACM0 cp -r src/uwifisetup /pyboard/lib"
deploy_assets = "rshell -p /dev/ttyACM0 cp -r src/www /pyboard/lib/uwifisetup"

example = "mpremote run examples/example.py"
example_reset = "mpremote run examples/example_reset.py"
reset = "mpremote reset"