{% args appName, completeMessage, ipAddress %}
{% include "/_uwifisetup/_top.html" %}
{% include "/_uwifisetup/_start.html" %}

    <div class="wrapper -thin">

        <div class="ta-center"><strong>{{ appName }}</strong></div>

        <strong>Congrats. Connected..</strong>
        <code>{{ ipAddress }}</code>
        <p>{{ completeMessage }}</p>

        <form action="/_uwifisetup/setup_complete" action="get">
            <button type="submit" class="button -block">Complete</button>
        </form>

    </div>

{% include "/_uwifisetup/_bottom.html" %}